body, header {
    margin: 0;
}

body {
    background-color: #e5e6eb;
    color: #333333;
    font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    line-height: 1.4;
}

/* Navigation Menu */

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #c0c2ce;
    height: 100%; /* Full height */
    text-align: center;
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

li a {
    display: block;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #afafaf;
    color: white;
}
    
ul.pups {
    list-style-type: circle;
}

/* Header */

header {
    background: #d2d4dc;
    color: #f8f8fa;
    height: 15vh;
    padding: 1em;
}

header h2 {
    margin-left: 10%;
}

#header-text {
    float: left;
    width: 50%;
    margin-left: 15%;
    font-size: 25px;
}


/* Main body */

#rightcol {
    margin-left: 15%;
    padding: 1px 16px;
    height: auto;
}

#rightcol img {
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#rightcol2 {
    margin-left: 15%;
    padding: 1px 16px;
    height: auto;
}
 
#rightcol2 img {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#rightcol3 {
    margin-left: 15%;
    padding: 1px 16px;
    height: auto;
}

#rightcol3 img {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

/* Table */

#dogs {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#dogs td, #dogs th {
    border: 1px solid #ddd;
    padding: 8px;
}

#dogs tr:nth-child(even) {
    background-color: #f2f2f2
}

#dogs tr:hover {
    background-color: #ddd;
}

#dogs th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #888390;
    color: white;
}
