body, header {
    margin: 0;
}

info-body {
    margin-left:15%;
    padding:1px 16px;
    height:1000px;
    background-color: #e5e6eb;
}

/* Navigation Menu */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #c0c2ce;
    height: 100%; /* Full height */
    text-align: center;
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

li a {
    display: block;
    color: #f8f8fa;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

/* Header */

header {
    background: #d2d4dc;
    color: #f8f8fa;
    height: 10%;
}

header {
    padding: 1em;
}

#header-text {
    float: left;
    margin-top: 10px;
}
